@model DotnetFeatureFlow.Services.UserPreferenceViewModel

<form id="user-preferences-form" asp-controller="UserPreferences" asp-action="Save" method="post">
  <input id="user-id" name="UserId" value="@Model.UserId" />
  <input id="display-name" name="DisplayName" value="@Model.DisplayName" />
  <input id="email-opt-in" name="EmailOptIn" type="checkbox" />
  <button id="save-user-preferences" type="button">Save preferences</button>
</form>

<script src="/wwwroot/js/user-preferences.js"></script>
