@{
    ViewData["Title"] = "Edit User";
}

<form id="user-edit-form" asp-controller="User" asp-action="Save" method="post">
    <input id="user-name" name="Name" data-field="user-name" />
    <button id="save-user" type="button" data-action="save-user">Save</button>
</form>

<script src="/wwwroot/js/user-form.js"></script>
